# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# Env
.env
.env.*.local
.env.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Test / coverage
coverage/

# Drizzle
drizzle/meta/_journal.json.bak

# Docker volumes
pgdata/
